<p>
  <h1><strong>注册管理员</strong></h1>
</p>
<%= form_tag "/admin/start_signup" do %>
  <%= label_tag "用户名" %><br>
  <%= text_field_tag :adminname, params[:adminname] %><br>
  <%= label_tag "密码" %><br>
  <%= password_field_tag :password_1,params[:password_1]  %><br>
  <%= label_tag "请再次输入密码" %><br>
  <%= password_field_tag :password_2,params[:password_2]  %><br>
  <%= submit_tag "注册" %>
<% end %>
<%= link_to '返回登录页面','/admin/login' %>
