<p>
  <h1><strong>管理员登录</strong></h1>
</p>
<%= form_tag "/start_login" do %>
  <%= label_tag "用户名" %><br>
  <%= text_field_tag :adminname, params[:adminname] %><br>
  <%= label_tag "密码" %><br>
  <%= password_field_tag :password,params[:password]  %><br>
  <%= submit_tag "登录" %>
<% end %>
