<h1><strong>文章列表</strong></h1><br>
近一个月：<br>
<table>
  <tr>
    <th>标题</th>
    <th>内容</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.updated_at %></td>
        <td><%= link_to '查看文章',"/post_shows/#{@admin_id}/#{post.id}" %></td>

    </tr>
  <% end %>
</table>

<br><br>
近一年：<br>
<table>
  <tr>
    <th>标题</th>
    <th>内容</th>
  </tr>

  <% @posts_year.each do |post| %>
    <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.updated_at %></td>
        <td><%= link_to '查看文章',"/post_shows/#{@admin_id}/#{post.id}" %></td>

    </tr>
  <% end %>
</table>

<br><br>
更早：<br>
<table>
  <tr>
    <th>标题</th>
    <th>内容</th>
  </tr>

  <% @posts_early.each do |post| %>
    <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.updated_at %></td>
        <td><%= link_to '查看文章',"/post_shows/#{@admin_id}/#{post.id}" %></td>

    </tr>
  <% end %>
</table>
